body {
  font-family: 'SpaceGrotesk-Regular';
  color: #2f2f2f;
  // -webkit-filter: contrast(40);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}

img {
  max-width: 100%;
  height: auto;
}

.fixed {
  position: fixed;
  width: 30%;

  li {
    width: 100%;
  }
}

.contrast {
  // -webkit-filter: contrast(40);
}

canvas {
  vertical-align: bottom;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 2;
  display: none;
}
