body {
  font-family: 'SpaceGrotesk-Regular';
  color: #2f2f2f;
  -webkit-filter: contrast(40);
}

.arrow {
  stroke: #2f2f2f;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}

img {
  max-width: 100%;
  height: auto;
}

.space {
  // margin-bottom: 1.5em;
}

.columnspace {
  margin-left: 1em;
  position: fixed;
  margin-top: 1.5em;
}

.projectbg {
  width: 100%;
  height: auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  -webkit-filter: blur(15px);
}
