body {
  font-family: 'SpaceGrotesk-Regular';
  color: #2f2f2f;
}

.arrow {
  stroke: #2f2f2f;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 33.334% 66.667%;
}

img {
  max-width: 100%;
  height: auto;
}
