.mobile-only {
  display: none;
}

ul.bottom-bar {
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .project-image-first {
    padding: 0.2em;
  }
  .navbar-ohmy {
    font-size: 25px;
    .introduction {
      font-size: 18px;
    }
    .contact-text {
      font-size: 18px;
    }
    .credit-text {
      font-size: 18px;
    }
  }

  .projecttitlemobile {
    padding-left: 10px;
  }

  .mobile-view {
    // padding-top: 15px;
    padding-left: 10px;
    line-height: 30px;
  }

  .biggerarrow {
    width: 25px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 100%;
  }

  .menu-menu {
    display: none;
  }

  ul {
    padding-left: 0;
  }

  .projectbg {
    padding: 0em;
  }

  .mobile-only {
    display: block;
  }

  .sticky {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top:0;
  }

  .infomobileshow {
    position: absolute;
    top: 20px;
    padding: 10px;
    mix-blend-mode: difference;
    display: none;
    color: #877d76;
    text-shadow: 0.5px 0.5px 0.5px gray;
    font-size: 25px;
  }

  .notmobile {
    display: none;
  }

  .cursor {
    display: none;
  }

}



.flip-horizontal-bottom {
  -webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}


