.description-project {
  width: 25%;
  // display: none;
  color: #1d1d1d;
  opacity: 0.9;
  mix-blend-mode: color-burn;
}

.hide {
  display: none;
  transition: all 0.3s ease-in;
}

.data-images {
  position: absolute;
}

.project-image {
  display: inline-block;
}

.projectbg {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0.5em 0.5em 2.5em 0.5em;
  // -webkit-filter: blur(10px);
}

.colorbg {
  max-width: 45em;
  right: 3em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.website-link a {
  color: #1d1d1d;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.blur {
  opacity: 0.2;
  // filter: blur(10px);
  transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.img {
  position: absolute;
  pointer-events : none;
}

.whiteshadow {
  white-space: pre-wrap;
  background-color: white;
}
