.description-project {
  width: 25%;
  // display: none;
  color: #877d76;
}

.hide {
  display: none;
}

.data-images {
  position: absolute;
}

.project-image {
  display: inline-block;
}

.projectbg {
  width: 100%;
  height: auto;
  // position: relative;
  padding-left: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  // -webkit-filter: blur(10px);
}
