.description-project {
  width: 25%;
  // display: none;
  opacity: 0.4;
}

.hide {
  display: none;
}

.data-images {
  position: absolute;
  // top: 500px;
  // left: 500px;
  // transform: translate(-50%, 50%) scale(0.5);
}

.project-image {
  // position: absolute;
  // top: 0px;
  display: inline-block;
}

.projectbg {
  width: 100%;
  height: auto;
  // position: relative;
  padding-left: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  // -webkit-filter: blur(10px);
}
