<ul class="navbar-ohmy">
<li class="navbar-ohmy title-ohmy lilspacetoright">My Kim Bui</li>
<li class="navbar-ohmy title-ohmy about"> • Info<%= image_tag("arrow-up-right.svg", class:"arrow-info arrow fading biggerarrow") %></li>
<li class="navbar-ohmy title-ohmy contactmeme"> •• Contact<%= image_tag("arrow-up-right.svg", class:"arrow-contact arrow fading biggerarrow") %>•••</li>
<li class="introduction">I am a graphic designer (...always in progress) interested in a huge variety of graphics, especially in typography & bold colors. I also have a deep fascination in small smart funny interactions in web-based applications & more recently into 3d interactive experiences. A lot of people inspired me during my learning journey into design & development which are <%= link_to ("http://benw.de/") do %>Ben Wegscheider<% end %>, <a href="https://arminunruh.com/">Armin Unruh</a>, <a href="http://ezramiller.biz/">Ezra Miller</a>, <a href="https://www.tristanbagot.com/">Tristan Bagot</a>, <a href="http://iraivanova.com/">Ira Ivanova</a>, <a href="http://okikata.org/">Akihiko Taniguchi</a> & many more.
  <br>
My recent interests include throwing ceramics, taking care of my plants, collecting images & open source fonts on the internet, playing with shaders, generative coding & drawing which in a way all feed my creativity.</li>
<!-- <li class="contactme">mykimbuibui@gmail.com • +32 485 36 76 49</li>
 --></ul>
