<div class="menu">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" style="display: none;">
      <defs>
        <path id="myTextPath" d="M40,200 a160,160 0 1,1 320,0 a150,150 0 1,1 -320,0" />
      </defs>
    </svg>

    <div class="bite__item">
      <a href="#" class="bite__inner">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
          <text>
            <textPath xlink:href="#myTextPath"> <% 5.times do %> PROJECT NAME <% end %></textPath>
          </text>
        </svg>
        <%= image_tag("smile.svg", class: "bite__img") %>
      </a>
    </div>
</div>


<div id="container">
<div id="circle">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
    <defs>
        <path id="circlePath" d=" M 150, 150 m -60, 0 a 60,60 0 0,1 120,0 a 60,60 0 0,1 -120,0 "/>
    </defs>
    <circle cx="150" cy="100" r="75" fill="none"/>
    <g>
        <use xlink:href="#circlePath" fill="none"/>
        <text fill="#000">
            <textPath xlink:href="#circlePath">Text rotating around a circle path with SVG!</textPath>
        </text>
    </g>
</svg>
</div>
</div>
