.arrow {
  stroke: #2f2f2f;
}

.fading {
  transition: all 0.5s ease;
}

.rightrotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.biggerarrow {
  width: 50px;
}

.arrow-top {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  z-index: 1;
  width: 60px;
  transform: rotate(-45deg);
}
