.chromatic {
  font-size: 22px;
  color: white;
  transition: text-shadow 2s ease;
  text-shadow:  0 0 2px white,
                0 0 1px $chroma-blend,
                $chroma-shift 0 $chroma-blur rgba($chroma-right,.9),
                -$chroma-shift 0 $chroma-blur rgba($chroma-left,.9);
}

#prompt {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 0;
  font-size: 24px;
  font-weight:300;
  color: black;
}
