.link-deco {
  text-decoration: underline;
  cursor: pointer;
  pointer-events: none;
}

.drawing-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  display: none;
  animation: feather 4s ease-in 1;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-direction: alternate;
  animation-fill-mode: forwards;
  transform-origin: 0% 50%;
}

@keyframes feather {
  0% {
    transform: rotate(-60deg) translateY(-50%);
  }
  50% {
    transform: rotate(-20deg) translateY(50%);
  }
  65% {
    transform: rotate(-20deg) translateY(50%);
  }
  100% {
    transform: rotate(-60deg) translateY(-50%);
  }
}



