.navbar-ohmy {
  // position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  // -webkit-filter: contrast(40);
}

.lilspacetoright {
  padding-right: 8px;
}

.title-ohmy {
  font-size: 50px;
}

.introduction {
  width: 90%;
  display: none;
  padding-bottom: 1em;
}

.contactme {
  display: none;
}
