.navbar-ohmy {
  display: inline-block;
  z-index: 20;
  position: relative;
  // -webkit-filter: contrast(40);
}

.lilspacetoright {
  padding-right: 8px;
}

.lilspacetoleft {
  padding-left: 8px;
}

.title-ohmy {
  font-size: 50px;
}

.specfont {
  font-family: "Wremena-Light";
  text-decoration: underline;
}

.slightbiggerfontsize {
  font-size: 53px;
}

.introduction {
  width: 95%;
  display: none;
}

.contact-text,
.credit-text {
  display: none;
  padding-top: 0.5em;
}

.link a {
  text-decoration: underline;
  color: #333333;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color:#333333;
  }
}

.italic {
  font-style: italic;
}
