.input-font {
  font-size: 100px;
  background: transparent;
  color: #2f2f2f;
  border: transparent;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 10px;
  max-width: 900px;
  box-sizing: border-box;
  margin-right: 0.1em;
  outline: none;
  &:focus {
    outline: none;
  }
}

.input-font::placeholder {
  color: #2f2f2f;
  opacity: 1;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; }

.undernote {
  font-size: 11px;
  text-transform: uppercase;
  color:#2f2f2f;
}

.title-project {
  font-family: 'SpaceGrotesk-Medium';
}

